.button-info {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #fff;
  width: 38px;
  margin-top: 9px;
  transform: translateY(5px);
  transition: transform .2s cubic-bezier(.165, .84, .44, 1), opacity .2s ease-out;
  will-change: opacity, transform;
}

.button-infoanimate-in {
  opacity: 1;
  transform: translateY(0);
}

.button-infosvg {
  width: 100%;
}