.gps-location {
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: #fff;
    transform: translateY(5px);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), opacity .2s ease-out;
    width: 54px;
    margin-top: 9px;
}
.gps-location .animate-in {
    opacity: 1;
    transform: translateY(0);
}
.gps-location .press {
    left: 21px;
    opacity: .6;
    top: 21px;
  }
  